<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elementum justo ac tellus finibus condimentum.
        Quisque interdum turpis turpis, quis consectetur risus elementum eu. Cras non congue nisl. Phasellus a tincidunt
        velit, sit amet varius sapien. Cras dui lorem, varius nec mauris elementum, porta volutpat ligula. Vestibulum
        velit eros, consectetur a fermentum ut, bibendum eu ipsum. Ut ac velit sem. Nam gravida massa sit amet nisi
        porta blandit. Donec feugiat viverra dapibus. Fusce quis luctus nisi. Aliquam at mi vitae ipsum eleifend
        volutpat in ut erat. Donec dictum ornare massa sit amet condimentum. Vivamus ultricies lectus augue, eget
        pretium risus dignissim scelerisque. Nullam rhoncus, justo elementum semper blandit, nibh leo placerat purus, ac
        tempus orci ante in velit. Vivamus varius lectus a maximus pulvinar.</p>
</article>